* {
    --main-color: rgb(187, 255, 0);


    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    /* border: 1px purple solid; */

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* body {
    margin: 0px auto;
} */

/* .project-preview{
    border: solid black 1px;
} */

nav {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px; 
    /* margin: 0 auto;  */

    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    /* opacity: 0; */
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 20pt;
}

li {
    display: inline;
    list-style: none;
    padding-right: 5px;
}

li button {
    background-color: var(--main-color);
    border: 0px;
    line-height: 1;
    text-transform: uppercase;
}
main{
    display: flex;
}

#maincontent {
    max-width: 600px;

    padding-top: 35px;

    background-color: rgb(198, 198, 198);

    /* possibly make it flex again to have gap? */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px; */
}


.awarded, .awarded h2{
    background-color: rgb(146, 146, 146);
    color: var(--main-color);

}

h2 {
    position: sticky;
    top: 35px;
    background-color: rgb(198, 198, 198);

}

img {
    /* border: rgb(0, 0, 0) 2px solid; */
    
    width: 100%;
    /* max-width: 600px; */
    /* height: 100%; */
    display: block;
}

#sidepanel {
    position: fixed;
    left: 600px;
    width: calc(100vw - 600px);
    height: 100vh;
    background-color: rgb(224, 224, 224);    

}

#sidepanel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:  center;
}

video {
    /* border: rgb(0, 0, 0) 2px solid; */
    
    width: 100%;
    /* max-width: 600px; */
    /* height: 100%; */
    object-fit: cover;
    display: block;
    transition: max-height 1.6s ease;
}



dt{
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
}

/* Initial hidden state */
.fade-in-element {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

/* State when visible */
.fade-in-element.is-visible {
  opacity: 1;
}




#testdiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 101;
    width: 600px;
    height: 400px;
    background-color: tomato;    
}

#testDragImg{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 101;
    width: 600px;
    height: 400px;
    background-color: tomato;    
}

.dragArea{
    width: 100%;
    height: 40px;
    background-color: rgb(74, 71, 255);    
}